* {}

.title {
    font-family: 'Refault';
}

.titlemenu {
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.titlemenu h1 {
    font-size: 30px;
    color: #000;
}

.page {
    color: #3c71e4;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

.page:hover {
    background-color: #3c71e4;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.page:active {
    background-color: #042aff;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.activepage {
    background-color: #002370;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    text-align: right;
    color: blue;
}

.kut {
    font-family: monospace;
}

.sunset {
    width: 800px;
    height: 300px;
}

.dropbtn {
    background-color: #841688;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.button3 {
    background-color: #841688;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3:hover {
    display: block;
}